<div class="container">
  <div class="row">
    <div class="eight columns">
      <h1>Projects</h1>
        <% @projects.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |project| %>
                <div class="four columns">
                  <div class="project"
                       style="background-image: url('<%= project.image %>')"
                       title="<%= project.description %>">
                    <a href="/project/<%= project.id %>">
                      <div class="fill-parent">
                        <div class="project-title">
                          <%= project.title %>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="four columns about-me">
      <%= render partial: 'shared/aboutme' %>
    </div>
  </div>
</div>

