<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Barri Mason Freelance Coder</title>
  <meta name="description" content="Barri Mason is a freelance software engineer and tech tinkerer">
  <meta name="author" content="Barri Mason">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js', 'data-turbolinks-track' => 'reload' %>

  <!-- Skeleton -->
  <%= stylesheet_link_tag 'normalize', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag 'skeleton', media: 'all', 'data-turbolinks-track' => 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Jaldi|Rock+Salt|Orbitron&display=swap" rel="stylesheet">

</head>

<body>
<div class="sidebar">
  <div class="my-name">Barri Mason</div>
  <div class="my-tag">Freelance Coder</div>
  <nav class="nav">
    <a href="https://www.linkedin.com/in/barri-mason-8b6ab435/" target="_blank">
      <%= image_tag "linkedin-white", size: 32 %>
    </a>
    <a href="https://www.peopleperhour.com/freelancer/development-it/barri-mason-software-developer-ymvmaja" target="_blank">
      <%= image_tag "pph.png", size: 32 %>
    </a>
    <a href="https://github.com/MisterGrimalkin" target="_blank">
      <%= image_tag "GitHub-Mark-Light-32px.png", alt: 'Visit me on GitHub' %>
    </a>
  </nav>
</div>
<div class="content">
  <%= yield %>
</div>
</body>
</html>
